{% extends 'base.html' %}
{% load static %}
{% block title %}Mobiles Section{% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
	   <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action" aria-current="true"> All Mobiles
	   </a>
	   
	   <a href="{% url 'mobiledata' 'Redmi' %}" class="list-group-item list-group-item-action" aria-current="true"> Redmi
	   </a>
	   
	   <a href="{% url 'mobiledata' 'Apple' %}" class="list-group-item list-group-item-action" aria-current="true"> Apple
	   </a>
	   
	   <a href="{% url 'mobiledata' 'Oppo' %}" class="list-group-item list-group-item-action" aria-current="true"> Oppo
	   </a>
	   
	   <a href="{% url 'mobiledata' 'Nokia' %}" class="list-group-item list-group-item-action" aria-current="true"> Nokia
	   </a>
	   	   <a href="{% url 'mobiledata' 'below' %}" class="list-group-item list-group-item-action" aria-current="true"> Below 10000
	   </a>
	   	   <a href="{% url 'mobiledata' 'above' %}" class="list-group-item list-group-item-action" aria-current="true"> Above 10000
	   </a>
   </div>
  </div>
	 
  <div class="col-sm-8">
<div class="row">
	
	 {% for m in mobiles %}
<div class="col-sm-6 text-center mb-4">
	<a href="{% url 'productdetail' m.id %}" class="btn">
		<div class="item">
			<img src="{{m.product_image.url}}" alt="" height="330" class="">
			<div class="fw-bold">
				{{m.title}}
			</div>
			<div class="fw-bold">
				Rs. {{m.discounted_price}}
			</div>
			<small class="fw-light text-decoration-line-through">
				{{m.selling_price}}
			</small>
		</div>
	</a>
</div>

	 {% endfor %}
</div>
  </div>
 </div>
</div>
{% endblock content %}