{% extends 'base.html' %}
{% load static %}
{% block title %} Registration{% endblock title %}
{% block content %}

<div class="container">
 <div class="row my-3">
	    {% comment %} Display Messages {% endcomment %}
          {% if messages %}
          <div class="col-12">
            {% for message in messages %}
              {% if message.tags == "error" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                  <b>{{ message }}</b>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
  <div class="col-sm-6 offset-sm-3">
   <h3>Customer Registration</h3>
   <hr>

   <form action="" method="post" novalidate class="shadow p-5">
	   {% csrf_token %}
	   	    {% comment %} Display Messages {% endcomment %}
        
	   {% for fm in form %}
	   <div class="form-group" mb-3>
		   {{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>
	   </div>
	   {% endfor %}
	   <div class="text-center ">
		  
	   <input type="submit" value="Submit" class="btn btn-primary px-4 mx-4">
		   </div>
   </form>
  </div>
 </div>
</div>
{% endblock content %}