

{% extends 'base.html' %}
{% load static %}
{% block title %} Registration{% endblock title %}
{% block content %}

<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Reset Password</h3>
   <hr>
	    <h6>
    Forgot your password? Please enter the email address you used to register
    with us and we will send you a link to reset your password
  </h6>
<form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Send email" /><br>
</form><br/>
  </div>
 </div>
</div>
{% endblock content %}